@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-shadow-color: 0 0 #0000; /* Replace 'your-shadow-color' with the color value you want */
}

body {
  background: #0c121e;
  color: rgba(195, 211, 237, 0.85);
  font-weight: 500;
  scroll-behavior: smooth;
}
 
/* rgba(232, 237, 246, 0.85);*/